<!DOCTYPE html>

<html>
<title>About</title>

<head>
    <Link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p>Created by SAI, Thanks to Andrew from UDEMY</p>
        <img class="portrait" src="/img/Sai.jpg">
    </div>
    {{>footer}}
</body>

</html>